@import "tailwindcss";

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: bold;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.markdown p {
  margin-bottom: 1rem;
}
.markdown table,
.markdown ul,
.markdown ol {
  margin: 1rem 0;
}
.markdown h1 {
  font-size: 2rem;
}
.markdown h2 {
  font-size: 1.8rem;
}
.markdown h3 {
  font-size: 1.6rem;
}
.markdown h4 {
  font-size: 1.4rem;
}
.markdown h5 {
  font-size: 1.2rem;
}
.markdown h6 {
  font-size: 1rem;
}
.markdown ul,
.markdown ol {
  list-style-position: inside;
}
.markdown ul {
  list-style-type: disc;
}
.markdown ol {
  list-style-type: numeric;
}
.markdown .contains-task-list {
  list-style: none;
}
.markdown blockquote {
  padding-left: 10px;
  @apply border-l-4 border-zinc-800 my-4 text-zinc-500;
}
.markdown hr {
  @apply border-t border-zinc-950 my-4;
}
.markdown table {
  @apply border border-zinc-950;
}
.markdown th,
.markdown td {
  padding: 5px 10px;
}
.markdown thead tr {
  @apply bg-zinc-700;
}
.markdown tbody tr:nth-child(odd) {
  @apply bg-zinc-800;
}
.markdown a {
  color: #5f87e4;
}
.markdown pre:not(:has(> div)) {
  @apply bg-zinc-950 p-4 rounded-lg;
}
.markdown pre div {
  @apply rounded-lg;
}
