name: Main CI

on:
  push:
    branches: ["main"]
  workflow_dispatch:
    inputs:
      app:
        description: "Which app to run"
        type: choice
        default: "frontend"
        required: true
        options:
          - frontend
          - backend

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      backend: ${{ steps.filter.outputs.backend }}
      frontend: ${{ steps.filter.outputs.frontend }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            backend:
              - '.github/**'
              - 'api/**'
            frontend:
              - '.github/**'
              - 'web/**'
  frontend:
    runs-on: ubuntu-latest
    needs: changes
    if: |
      ${{ 
        (
          github.event_name == 'workflow_dispatch' && 
          github.event.inputs.app == 'frontend'
        ) || 
        (
          github.event_name != 'workflow_dispatch' && 
          needs.changes.outputs.frontend == 'true'
        )
      }}
    defaults:
      run:
        working-directory: ./web
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
          cache-dependency-path: "**/package-lock.json"
      - name: Install npm pkgs
        run: |
          npm ci
      - name: Typecheck, Format, and Build
        run: |
          npm run typecheck &&
          npm run format:check &&
          npm run build

  backend:
    runs-on: ubuntu-latest
    needs: changes
    if: |
      ${{ 
        (
          github.event_name == 'workflow_dispatch' && 
          github.event.inputs.app == 'backend'
        ) || 
        (
          github.event_name != 'workflow_dispatch' && 
          needs.changes.outputs.backend == 'true'
        )
      }}
    defaults:
      run:
        working-directory: ./api
    steps:
      - uses: actions/checkout@v4
      - name: Rustup
        run: rustup update stable && rustup default stable
      - name: Cargo check
        run: RUSTFLAGS="-D warnings" cargo clippy
