name: Main CI

on:
  push:
    branches: ["main"]
  workflow_dispatch:
    inputs:
      app:
        description: "Which app to run"
        type: choice
        default: "frontend"
        required: true
        options:
          - frontend
          - backend

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      backend: ${{ steps.filter.outputs.backend }}
      frontend: ${{ steps.filter.outputs.frontend }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            backend:
              - '.github/**'
              - 'api/**'
            frontend:
              - '.github/**'
              - 'web/**'
  frontend:
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.frontend == 'true' || github.event.inputs.app == 'frontend' }}
    defaults:
      run:
        working-directory: ./web
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
          cache-dependency-path: "**/package-lock.json"
      - name: Install npm pkgs
        run: |
          npm ci
      - name: Typecheck, Format, and Build
        run: |
          npm run typecheck &&
          npm run format:check &&
          npm run build

  deploy-frontend:
    needs: frontend
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./web
    steps:
      - uses: actions/checkout@v2
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN_FRONTEND }}

  backend:
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.backend == 'true' || github.event.inputs.app == 'backend' }}
    defaults:
      run:
        working-directory: ./api
    steps:
      - uses: actions/checkout@v4
      - name: Rustup
        run: rustup update stable && rustup default stable
      - name: Cargo check
        run: RUSTFLAGS="-D warnings" cargo clippy

  deploy-backend:
    needs: backend
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./api
    steps:
      - uses: actions/checkout@v2
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
